.header1{
    line-height: 1.8;
    width: 100%;
    text-align: center;
    background-color: black;
    margin-top: -10px;
    margin-left: -8px;
}
.header1 :hover{
    background-color: gold;

}
.header{
    text-decoration: none;
    padding-bottom: .3125rem;
    padding-top: .3125rem;
    padding-right: .625rem;
    padding-left: .625rem;
    color:  rgb(159,166,178);
    font-size: .625rem;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    text-align: center;
    margin: 18px auto; 
}
img{
    width: 200px;
    height: 47.5px;
    
}  
.h2img{
   color:  rgb(159,166,178);
   padding-top: 4px;
   padding-bottom: 0;
   line-height: 1;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
}
.navigation{
    text-align: center;
    line-height: 1.5;
}
.navi1:hover{
    background-color: lightgrey;
}
.navi1{    
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;

} 
.navi2{
    text-decoration: none;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
} 
form{
    display: inline;
}
.search:hover{
    background-color: lightgray;
}    
.search{
    background-image: url('https://www.freepnglogos.com/uploads/search-png/search-icon-transparent-images-vector-28.png');
    background-size: 30px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 30px;
    font-size: 12px;
    border: none;
    margin-left: 64px;
}
.containh1{
    margin-left: 110px;
}
.cont2{
    font-size: 12px;
    margin-left: 110px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(107,114,128);
}
.cont3{
    font-size: .75rem;
    font-family: Arial, Helvetica, sans-serif;
}
.spancl{
    padding-top: 10px;
    padding-bottom: 5px;
}
.imgik{
    padding-top: 10px;
    margin-left: 110px;
}
.hra{
    width: 1350px;
}
.hrb{
    margin-right:610px;
    width: 850px;
}
.pmik{
    width: 936px;
    height: 561.594px;
}
.figcap{
    color: dimgray;
    padding: .45em;
    margin-left: 110px;
    font-size: 14px;
    font-family: Georgia,Times,serif
}
.content{
    margin-left: 250px;
    margin-right: 700px;
}
p{
    line-height: 1.7;
    font-size: 18px;
    font-family: Georgia,Times,serif
}
.comhr{
    width: 940px;
    margin-right: 520px;
}
.commentbox{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 170px;
    padding: 0px 0px 5px 5px;
    font-weight: 700;
}
.commentform{
    margin-left: 170px;
}
.cominname{
    padding: 8px 12px 8px 12px;
    width: 350px;
    border-color: #d2d6dc;
    border-width: 1px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}
.cominemail{
    padding: 8px 12px 8px 12px;
    width: 350px;
    border-color: #d2d6dc;
    border-width: 1px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 25px;
}
.cominphone{
    padding: 8px 12px 8px 12px;
    width: 350px;
    border-color: #d2d6dc;
    border-width: 1px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.comincity{
    padding: 8px 12px 8px 12px;
    width: 350px;
    border-color: #d2d6dc;
    border-width: 1px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 25px;
}
.abc{
   font-size: 10px;
   font-family: Arial, Helvetica, sans-serif;
   color: crimson;
}
.abd{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(107,114,128);
}
.commentform1{
    width: 754px;
    height: 144px;
    margin-left: 170px;
    margin-top: 20px;
}
#content1{
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-color: #d2d6dc;
    border-width: 1px;
    line-height: 1.5;
}